* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e6e9ed;
}

.mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 48px;
    margin-top: 30px;
}

.gridWrapper {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cell {
    background-color: white;
    flex: 1 1 calc(800px / var(--cell-count));

    /* Making sure cells are square*/
    aspect-ratio: 1/1;
}

.ui {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sizePicker {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    background-color: whitesmoke;
}

.sizePicker  label{
    box-shadow: none;
    cursor: default;
    text-align: center;
    margin-bottom: -25px;
    background-color: white;
}

.sizePicker input {
    padding: 0.75em;
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
}

.sizePicker button {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.22);
}

.colorCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 225px;
    padding: 0;
    margin: 0;
    border-radius: 8px 8px 8px 8px;
    background-color: whitesmoke;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}

.colorCardTxt {
    font-size: 28px;
    margin-top: 0.5em;
}

.colorPicker {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 12em;
    padding: 0;
    margin: 0;
    width: 100%;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0 0 8px 8px;
}

.btn {
    padding: 0.75em;
    border: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    font-size: 24px;
    background-color: whitesmoke;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.22);
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 100%;
    color: rgba(0, 0, 0, 0.22);
}